.header{
width: 100%;
display: flex;
padding: 30px 30px 100px 30px;
justify-content: space-between;
background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(img/czesto.jpg);
}

.fa-brands{
margin-left: 15px;

}

.blck-btn{
color: #fff;
background-color: black;
padding: 10px;
}

.mainlogo, .left-menu{
margin: auto;
margin-left: 0;
}

